.main-cards {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: 20px;
  row-gap: 16px;
  margin: 100px 0 76px;
  padding: 0 40px;
}
.main-cards .card {
  grid-column: span 6;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 294px;
  padding: 30px 30px 24px;
  background-color: #232323;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
}
.main-cards .card:hover {
  background-color: #353535;
}
.main-cards .card .description {
  width: 360px;
}
.main-cards .card .title,
.main-cards .card .description {
  z-index: 1;
}

.main-cards .card .card__bg {
  position: absolute;
  top: -40px;
  right: -40px;
  width: 285px;
  height: 285px;
  background-repeat: no-repeat;
  background-size: contain;
  pointer-events: none;
}
.main-cards .card:nth-child(2) .card__bg {
  top: -130px;
  right: -270px;
  width: 532px;
  height: 532px;
}