.pagination {
    display: flex;
    justify-content: center;
    column-gap: 6px;
    margin-top: 40px;
}
.pagination .page-numbers {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    background-color: #fff;
    border-radius: 8px;
    color: #1A1A1A;
    font-family: "Unbounded", sans-serif;
    font-size: 14px;
    line-height: 1;
    border: 2px solid transparent;
    transition: all 0.2s ease;
    overflow: visible;
}
.pagination .page-numbers:hover,
.pagination .page-numbers.current,
.pagination .page-numbers[current] {
    border-color: #fff;
    background-color: transparent;
    color: #fff;
}
