@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Unbounded:wght@200..900&display=swap');

@import './components/style.css';
@import './pages/style.css';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header {
    z-index: 3;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 32px 40px 26px;
    background-color: #1A1A1A;
}

/* FOOTER */
footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 60px;
    padding: 0 40px 20px;
}
body {
    min-height: 100vh;
    background-color: #1A1A1A;
    font-family: "Inter", sans-serif;
    color: #EAEAEA;
}
main {
    margin-top: 154px;
    overflow: hidden;
}
section {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 40px;
}
.wrapper {
    max-width: 1200px;
    width: 100%;
}
a {
    color: #fff;
    text-decoration: none;
    height: max-content;
}
h1, .h1 {
    font-size: 42px;
    line-height: 1;
}
.h1-large {
    font-size: 76px;
    line-height: 1;
}
h2, .h2 {
    font-size: 32px;
    line-height: 1;
}
h3 {
    font-size: 24px;
    line-height: 1;
}
h4 {
    font-size: 20px;
    line-height: 1;
}
p.large {
    font-size: 24px;
    line-height: 1;
}
p.big {
    font-size: 20px;
    line-height: 1;
}
p.extra-big {
    font-size: 18px;
    line-height: 1;
}
p {
    font-size: 16px;
    line-height: 1;
    font-weight: 200;
}
p.medium {
    font-size: 14px;
    line-height: 1;
}
p.extra-medium {
    font-size: 12px;
    line-height: 1;
}
p.small {
    font-size: 10px;
    line-height: 1;
}
.font-unbounded {
    font-family: "Unbounded", sans-serif;
}
.font-regular {
    font-weight: 300;
}
.font-medium {
    font-weight: 400;
}
.font-semibold {
    font-weight: 700;
}
.font-bold {
    font-weight: bold;
}

ul {
    list-style-type: none;
}
ol li {
    position: relative;
    counter-increment: my-counter; /* Увеличиваем счетчик для каждого li */
}
ol li::before {
    content: counter(my-counter) ") "; /* Выводим счетчик в формате "1) " */
    position: absolute;
    left: -20px; /* Сдвигаем влево */
}
.gray-deep-dark {
    color: #767676;
}
.gray-dark {
    color: #A7A7A7;
}
.gray-light {
    color: #EAEAEA;
}
.color-white {
    color: #fff;
}
.color-black {
    color: #000;
}
blockquote {
    border-radius: 10px;
    padding: 20px;
    border: 1px dashed #6A9E83;
}
.w-full {
    display: block;
    width: 100%;
}


























