@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    min-height: 100vh;
    background-color: #1A1A1A;
    font-family: "Inter", sans-serif;
    color: #fff;
}
.wrapper {
    max-width: 1200px;
}
a {
    color: #fff;
    text-decoration: none;
}
h1 {
    font-size: 76px;
    line-height: 1;
}
h3 {
    font-size: 32px;
    line-height: 1;
}
p {
    font-size: 16px;
    line-height: 1;
}
p.small {
    font-size: 14px;
    line-height: 1;
}