.source {
    position: relative;
}
.underline {
    padding: 10px 12px;
    border-bottom: 1px solid #fff;
    text-align: center;
}
.underline.active {
    color: #47AA86;
    border-color: #47AA86;
}
.underline.active:hover {
    color: #fff;
    border-color: #fff;
}