@import "../common.css";
@import "../ui.css";

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 32px 40px;
    background-color: #1A1A1A;
}
header .source {
    position: absolute;
    top: 22px;
    right: 40px;
}
main {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: calc(80px + 100px);
}
.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 120px;
}
main h1 {
    z-index: 1;
    position: relative;
    margin-top: 40px;
    margin-bottom: 80px;
    color: #EAEAEA;
    text-align: center;
    font-family: "Unbounded", sans-serif;
    font-weight: 400;
}

.hero-prefix {
    color: #767676;
}


/* hero-tabs */
.hero-tabs {
    display: flex;
    column-gap: 48px;
    margin-bottom: 72px
}
.hero-tabs p:hover {
    color: #6A9E83;
    border-color: #6A9E83;
    cursor: pointer;
}
.hero-tabs .active {
    color: #47AA86;
    border-color: #47AA86;
}
.hero__arrow-down {
    
}

