@import "../common.css";
@import "../ui.css";

header .source {
    position: absolute;
    top: 22px;
    right: 40px;
}
.main-page h1 {
    z-index: 2;
    position: relative;
    margin-top: 40px;
    margin-bottom: 80px;
    text-align: center;
    mix-blend-mode: difference;
}
.hero {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 0 120px;
    margin-top: calc(80px + 100px)
}
.hero .hero__content {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.hero-bg {
    z-index: 2;
    top: 0;
    left: 0;
    position: relative;
    width: 100%;
}
.hero-bg .hero-bg-1 {
    left: -281px;
    background-image: url("./images/hero-bg_1.png");
}
.hero-bg .hero-bg-2 {
    right: -250px;
    background-image: url("./images/hero-bg_1.png");
}
.hero-bg .hero-bg-1,
.hero-bg .hero-bg-2 {
    position: absolute;
    top: 50px;
    width: 562px;
    height: 562px;
    background-repeat: no-repeat;
    background-size: contain;
}
.hero-prefix {
    color: #767676;
}


/* hero-tabs */
.hero-tabs {
    display: flex;
    column-gap: 48px;
    margin-bottom: 72px
}
.hero-tabs p:hover {
    color: #6A9E83;
    border-color: #6A9E83;
    cursor: pointer;
}
.hero-tabs .active {
    color: #47AA86;
    border-color: #47AA86;
}
.hero__arrow-down {
    
}

/* green-lines */
.green-lines {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 412px;
    width: 100%;
    margin-bottom: 32px;
}
.green-lines__bg {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url('./images/green-lines.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left center;
    pointer-events: none;
}
@media (max-width: 1920px) {
    .green-lines__bg {
        width: 80%;
        height: 150%;
    }
}
@media (max-width: 1440px) {
    .green-lines__bg {
        width: 100%;
        height: 100%;
    }
}

.green-lines__points {
    width: 100%;
    height: 100%;
}
.green-lines__point {
    position: absolute;
    max-width: 216px;
    font-family: "Unbounded", sans-serif;
    font-weight: 100;
}
.green-lines__point:after {
    content: '';
    position: absolute;
    bottom: -12px;
    left: 0;
    width: 9px;
    height: 9px;
    background-color: #6A9E83;
    border-radius: 50%;
}
.smart-house {
    top: 112px;
    left: 432px;
}
.video-surveillance {
    top: 67px;
    left: 658px;
}
.humidification {
    top: 55px;
    left: 1007px;
}
.multimedia-system {
    top: 147px;
    left: 811px;
}
.fire-safety {
    top: 202px;
    left: 545px;
}
.ventilation {
    top: 252px;
    left: 970px;
}
.noise-insulation {
    top: 304px;
    left: 705px;
}

/* significance */
.significance {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 120px;
}
.significance .title {
    align-self: flex-start;
    max-width: 380px;
    margin-bottom: 48px;
}

/* TEAM */
.team {
    margin-bottom: 120px;
}


















